{% extends 'base.html' %}
{% block content %}
<div class="well spaced" style="width:40%;">
<h1>Add Students to Group</h1>



<form action="/add-student-to-group" method="POST">

  <div class="form-group">
    <label>
        Select Class
        <select name="classroom">
          {% for classroom in classrooms %}
          <option value="{{ classroom.class_id }}">{{ classroom.name }}</option>
          {% endfor %}
        </select>
    </label>
  </div>

<div class="form-group">
    <label>
        Select Group
        <select name="group">
          {% for group in groups %}
            
              <option value="{{ group.group_id }}">{{ group.name }}</option>

          {% endfor %}
        </select>
    </label>
  </div>

<!-- display classroom, dislay dropdowns, no values, event listener, use jquery to make call based on selection -->


  <div class="form-group">
      <legend>Add Students</legend>
    {% for student in students %}
    <div>
      <input type="checkbox" id="{{ student.student_id }}" name="student" value="{{ student.student_id }}">
      <label for="{{ student.student_id }}">{{ student.fname }} {{ student.lname }}</label>
    </div>

    {% endfor %}
  </div>


    


    




  <div class="form-group">
    <input type="submit" value="Add students to group" class="btn btn-danger">
  </div>

</form>
</div>
{% endblock %}