{% extends 'base.html' %}
{% block content %}
<div class="well spaced" style="width:60%">
  

  <h2>Fortune</h2>

  <p>Want a piece?
    <button id="get-music-button" class="btn btn-primary">Get Music</button>
  </p>

  <div id="music-text"></div>

  <script type="text/javascript">

  function replaceMusic(results) {
    $("#music-text").innerHTML("hello");
}

function showMusic(evt) {
    $.get('/ajax/test-result', replaceMusic);
}

$('#get-music-button').on('click', showMusic);
</script>

  


</div>

<script src="http://code.jquery.com/jquery.js"></script>
<!-- <script src="static/ajax-music-test.js"></script> -->
{% endblock %}


