{% extends 'base.html' %}
{% block content %}
<head>
    <title>Pitch Detector</title>

    <style>
      body { }
      #note { font-size: 164px; }
      .droptarget { background-color: #348781}
      div.confident { color: black; }
      div.vague { color: #6E4932; }
      #note { display: inline-block; height:180px; text-align: left;}
      
      #detector { width: 300px; height: 300px; border: 4px solid #A43C4C; border-radius: 8px; text-align: center; padding-top: 10px; background-color: #BE916B}
      #output { width: 300px; height: 42px; }
      #flat { display: none; }
      #sharp { display: none; }
      .flat #flat { display: inline; }
      .sharp #sharp { display: inline; }
    </style>
  </head>

<div class="well spaced" style="width:40%;">

<div id="container">
  C Major Scale
  <div id="c"></div>
</div>
<div id="controls">
  <button id='startscale' onclick="this.innerText = togglePlayback()">Start Scale</button>
</div>
<!-- 
<button type="button" class="btn btn-primary" style="background-color: #6E4932; color: white; border: 1px solid #A43C4C" onclick="this.innerText = togglePlayback()">use demo audio</button> -->
<!-- 
<div id="controls">
  <button id='fail-note'>Fail Note</button>
</div> -->

<script type="text/javascript">


// Basic setup boilerplate for using VexFlow with the SVG rendering context:
VF = Vex.Flow;

var div = document.getElementById("c")
var renderer = new VF.Renderer(div, VF.Renderer.Backends.SVG);

renderer.resize(500, 100);
var context = renderer.getContext();


// Create a stave of width 400 at position x10, y40 on the canvas.
var stave = new VF.Stave(10, 0, 400);
// Add a clef and time signature.
stave.addClef("treble").addTimeSignature("4/4");
// Connect it to the rendering context and draw!
stave.setContext(context).draw();

var notes = [
  // A quarter-note C.
  {clef: "treble", keys: ["c/4"], duration: "q" },

  {clef: "treble", keys: ["d/4"], duration: "q" },

  {clef: "treble", keys: ["e/4"], duration: "q" },

  {clef: "treble", keys: ["f/4"], duration: "q" },

  {clef: "treble", keys: ["g/4"], duration: "q" },

  {clef: "treble", keys: ["a/4"], duration: "q" },

  {clef: "treble", keys: ["b/4"], duration: "q" },

  {clef: "treble", keys: ["c/5"], duration: "q" } 
  
];

var stave_notes = notes.map(function(note) { return new VF.StaveNote(note); });


// Create a voice in 4/4 and add above notes
var voice = new VF.Voice({num_beats: 8,  beat_value: 4});
voice.addTickables(stave_notes);

// Format and justify the notes to 400 pixels.
var formatter = new VF.Formatter().joinVoices([voice]).format([voice], 300);

// Render voice
voice.draw(context, stave);


var i = 0

// document.getElementById('fail-note').addEventListener('click', (e) => {
//   stave_notes[i].setKeyStyle(0, { fillStyle: 'red'});
//   i += 1;
//   voice.draw(context, stave);

// });

// document.getElementById('success-note').addEventListener('click', (e) => {
//   stave_notes[i].setKeyStyle(0, { fillStyle: 'blue'});
//   i += 1;
//   voice.draw(context, stave);

// });


$(document).ready(function()  {
  $("#startscale").click(startScale)    
});

function startScale()  {
  interval = setInterval(colorNotes, 760);
}

function colorNotes() {
  stave_notes[i].setKeyStyle(0, { fillStyle: 'blue'});
  i += 1;
  voice.draw(context, stave);
}



</script>

<script src="static/pitchdetect.js"></script>


<script type="text/javascript">
function checkPlaying() {
    if (isPlaying) {
        //stop playing and return
        sourceNode.stop( 0 );
        sourceNode = null;
        analyser = null;
        isPlaying = false;
        
    if (!window.cancelAnimationFrame)
      window.cancelAnimationFrame = window.webkitCancelAnimationFrame;
        window.cancelAnimationFrame( rafID );

    }
    getUserMedia(
      {
            "audio": {
                "mandatory": {
                    "googEchoCancellation": "false",
                    "googAutoGainControl": "false",
                    "googNoiseSuppression": "false",
                    "googHighpassFilter": "false"
                },
                "optional": []
            },
        }, gotStream);
    
}


console.log(noteElem);

</script>
    
    <p>

      <button onclick="checkPlaying()">use live input</button>
      <button onclick="toggleOscillator()" onclick="">use oscillator</button>
      <!--<button onclick="updatePitch(0);">sample</button>-->
    </p>

    <div id="detector" class="vague">
      <div class="pitch"><span id="pitch">--</span>Hz</div>
      <div class="note"><span id="note">--</span></div>   
      <canvas id="output" width=300 height=42></canvas>
      <div id="detune"><span id="detune_amt">--</span><span id="flat">cents &#9837;</span><span id="sharp">cents &#9839;</span></div>
    </div>
    





</div>
{% endblock %}