{% extends 'base.html' %}
{% block content %}
<div class="well spaced" style="width:40%;">
<h1>Add New Group</h1>


<form action="/create-group" method="POST">

  <div class="form-group">
    <label>
        Enter Group Name
        <input type="text" name="name" class="form-control">
    </label>
  </div>

  <div class="form-group">
    <label>
        Select Class
        <select name="class_id">
          {% for classroom in classrooms %}
          <option value="{{ classroom.class_id }}">{{ classroom.name }}</option>
          {% endfor %}
        </select>
    </label>
  </div>


  <div class="form-group">
    <input type="submit" value="Create Group" class="btn btn-danger">
  </div>

</form>
</div>
{% endblock %}