{% extends 'base.html' %}
{% block content %}
<div class="well spaced" style="width:40%;">
<h1>Create New Class</h1>

<!-- 
    registration_code = request.form["registration_code"]
    name = request.form["name"]
    type_class = request.form["type_class"] -->



<form action="/create-class" method="POST">

  <div class="form-group">
    <label>
        Enter Class Registration Code
        <input type="code" name="registration_code" class="form-control">
    </label>
  </div>

  <div class="form-group">
    <label>
        Class Name
        <input type="text" name="name" class="form-control">
    </label>
  </div>

  <div>
    <label>
      Class Type
      <select name="type_class">
        <option value="concert_band">Concert Band/Wind Ensemble</option>
        <option value="marching_band">Marching Band</option>
        <option value="orchestra">Orchestra</option>
      </select>
    </label>
  </div>


  <div class="form-group">
    <input type="submit" value="Create Class" class="btn btn-danger">
  </div>

</form>
</div>
{% endblock %}