{% extends 'base.html' %}
{% block content %}
<br>
<div class="well spaced" style="width:97%">
  <h2>{{ group.name }} ({{ group.classroom.name }})</h2>

<form action="/groups/{{ group.group_id }}/edit-message" method="POST">

  <div class="form-group">
    <label>
        Enter Teacher Message
        <TEXTAREA type="text" name="teacher_message" class="form-control" COLS=50></TEXTAREA>
    </label>
  </div>

  <input type="hidden" class="form-control" placeholder="{{ group.group_id }}" name="group" ></input>

  <div class="form-group">
    <input type="submit" value="Edit Message" class="btn btn-danger">
  </div>
  
  
</form> 
</div>
{% endblock %}