{% extends 'base.html' %}
{% block content %}
<head>
    <link href="../static/css/homepage.css" rel="stylesheet" type="text/css" />
</head>

<div class="bg">
<div class="row" style="height: 100px">
</div>
<div class="row">
	<div class="col-2 offset-9 register-box rounded">
		<div class="row justify-content-center">
			<h2>Register</h2>
		</div>

	

		<div class="row justify-content-center">

		<a class="btn btn-primary" href="/student-register"><img class="icon" src="../static/music.svg"> Student</a>
	</div>
		<div class="row justify-content-center offset p-2">

		<a class="btn btn-primary" href="/teacher-register"><img class="icon" src="../static/orchestra.svg"> Teacher</a>

	</div>

	</div>
</div>

</div>



{% endblock %}