{% extends 'base.html' %}
{% block content %}
<head><link rel="stylesheet" href="/static/css/autocomplete.css"></head>
<div class="well spaced" style="width:40%;">
<h1>Check Out Instrument</h1>

<a href="/instrument-inventory">Return to Instrument Inventory</a><br>


<form autocomplete="off" action="/instrument-checkout" method="POST">



  <div class="form-group">
    <label>
        Select Instrument Type
        <select name="instrument_type">
          {% for instrument in instrument_types %}
          <option value="{{ instrument }}">{{ instrument }}</option>
          {% endfor %}
        </select>
    </label>
  </div>

  Available Instruments: <br>
  {{ serial_number_dict }}

    <div class="autocomplete">
    <label>
        Enter Serial Number
        <input id="serial_Number" type="string" name="serial_number" placeholder="Serial Number">
    </label>
  </div>

  <div class="autocomplete">
    <label>
        Student First Name
        <input id="firstName" type="text" name="fname" placeholder="First Name">
    </label>
  </div>


  <div class="autocomplete">
    <label>
        Student Last Name
        <input id="lastName" type="text" name="lname" placeholder="Last Name">
    </label>
  </div><br>

  <input type="checkbox" name="autogroup" value="autogroup" checked>Add student to Instrument Groups<br>



  <div class="form-group">
    <input type="submit" value="Check Out Instrument" class="btn btn-danger">
  </div>

</form>

<script src="/static/autocomplete.js"></script>


<script>

var students_first = {{ students_fname|tojson|safe }};
var students_last = {{ students_lname|tojson|safe }};

autocomplete(document.getElementById("firstName"), students_first);
autocomplete(document.getElementById("lastName"), students_last);
</script>
</div>
{% endblock %}