{% extends 'base.html' %}
{% block content %}
<div class="well spaced" style="width:40%;">
<h1>Learn About...</h1>

Composers:

<a href="/composer-timeline">Composer Timeline</a><br>

Color Test:

<a href="/color-test">Color Test</a><br>

Chord Test:
<a href="/chord-test">Chord Test</a><br>

Major Scales Test:
<a href="/major-scales">Major Scales</a><br>

Broken:
<a href="/pitch-detector">Pitch Detector</a><br>

Sight Reading Game:
<a href="/sight-reading">Sight Reading Game</a>


</div>
{% endblock %}