{% extends 'base.html' %}
{% block content %}

<div class="well spaced container" style="width:40%;">

<div class="row">

  <div class="col-sm">
    C Major Scale
    <div id="c"></div>
  </div>

  <div class="col-sm">
    G Major Scale
    <div id="g"></div>
  </div>

</div>

<div class="row">

  <div class="col">
    F Major Scale
    <div id="f"></div>
  </div>

  <div class="col">
    D Major Scale
    <div id="d"></div>
  </div>

</div>

<div class="row">

  <div class="col">
    Bb Major Scale
    <div id="bb"></div>
  </div>

  <div class="col">
    A Major Scale
    <div id="a"></div>
  </div>

</div>

<div class="row">

  <div class="col">
    Eb Major Scale
    <div id="eb"></div>
  </div>

  <div class="col-6">
    E Major Scale
    <div id="e"></div>
  </div>

</div>

<div class="row">

  <div class="col">
    Ab Major Scale
    <div id="ab"></div>
  </div>

  <div class="col">
    B Major Scale
    <div id="b"></div>
  </div>

</div>

<div class="row">

  <div class="col">
    Db Major Scale
    <div id="db"></div>
  </div>

  <div class="col">
    F# Major Scale
    <div id="fsharp"></div>
  </div>

</div>




<script src="static/cmajor.js"></script>
<script src="static/dmajor.js"></script>
<script src="static/dbmajor.js"></script>
<script src="static/emajor.js"></script>
<script src="static/ebmajor.js"></script>
<script src="static/fmajor.js"></script>
<script src="static/fsharpmajor.js"></script>
<script src="static/gmajor.js"></script>
<script src="static/amajor.js"></script>
<script src="static/abmajor.js"></script>
<script src="static/bmajor.js"></script>
<script src="static/bbmajor.js"></script>

</div>
{% endblock %}