{% extends 'base.html' %}
{% block content %}
<div class="well spaced" style="width:60%">

  <script>

import React, { Component } from 'react'

class Search extends Component {
 state = {
   query: '',
   results: []
 }

   getInfo = () => {
    axios.get(`${API_URL}?api_key=${API_KEY}&prefix=${this.state.query}&limit=7`)
      .then(({ data }) => {
        this.setState({
          results: data.data
        })
      })
  }

 handleInputChange = () => {
   this.setState({
     query: this.search.value
   })
 }

 render() {
   return (
     <form>
       <input
         placeholder="Search for..."
         ref={input => this.search = input}
         onChange={this.handleInputChange}
       />
       <p>{this.state.query}</p>
     </form>
   )
 }
}

export default Search

</script>
<script src="http://code.jquery.com/jquery.js"></script>

</div>
{% endblock %}
