{% extends 'base.html' %}
{% block content %}
<br>


<div>
	<audio controls id='music'>
	  <source src="/{{ music_src }}" type="audio/mp3">
	  <source src="/{{ music_src }}" type="audio/m4a">
	</audio><br>



</div>


	<form action="/survey/{{ survey_id }}" method="POST">

	  <div class="form-group">
	    <label>
	        Survey thoughts
	        <input type="text" name="student_comment" class="form-control">
	    </label>
	  </div>

	  <div class="form-group">
	    <input type="submit" id="submit" value="Submit survey" style="display:none;" class="btn btn-danger">
	  </div>

	</form>

    <script>
    
	var aud = document.getElementById("music");
	aud.onended = function music_has_ended() {

	    document.getElementById('submit').style.display = 'block';
	};
</script>
	  

<!-- 
<input type="button" id="toggler" value="Toggler" onClick="action();" />
<input type="button" id="togglee" value="Togglee" /> -->


<!--     
//     function music_is_ended() {
//         hidden = !hidden;
//         if(hidden) {
//             document.getElementById('togglee').style.visibility = 'hidden';
//         } else {
//             document.getElementById('submit').style.visibility = 'visible';
//         }
//     }
// 
 -->



    
{% endblock %}