{% extends 'base.html' %}
{% block content %}
<div class="well spaced" style="width:40%;">
<h1>Register</h1>

<form action="/teacher-add-student/{{ class_id }}" method="POST">

  <div class="form-group">
    <label>
      First Name
      <input type="text" name="fname" class="form-control">
    </label>
  </div>

  <div class="form-group">
    <label>
      Last Name
      <input type="text" name="lname" class="form-control">
    </label>
  </div>

  <div class="form-group">
    <input type="submit" value="Register this Student" class="btn btn-danger">
  </div>

</form>
</div>
{% endblock %}