{% extends 'base.html' %}
{% block content %}

<h3>Popular Surveys</h3>

<div class="row">
  {% for survey, i in popular_surveys %}
    <div class="col-xs-6 col-md-3">
      
      <a href="survey/{{ survey.survey_id }}" class="thumbnail">
        <img src="https://loremflickr.com/242/200" alt="{{ survey.music.name }}">
        <div class="caption">
        <h5>{{ survey.music.composer.name }}: {{ survey.music.name }}</h5>
        
      </div>
      </a>
    </div>
  {% endfor %}
</div>




<h3>Survey Index</h3>
{% if 'teacher_id' in session %}
  <a href="/add-survey">Add a Survey</a>
{% endif %}

<div>
<select id="searchType">
  <option value="composer" selected>Composer</option>
  <option value="Name">Piece Name</option>
</select>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

<table id="myTable">
  <tr class="header">
    <th style="width:20%;">Composer</th>
    <th style="width:40%;">Name</th>
    <th style="width:40%;">Ensemble</th>
  </tr>

  {% for survey in my_surveys %}
    <tr>
      <td><a href="/composer/{{ survey.music.composer.name }}">{{ survey.music.composer.name }}</a></td>
      <td><a href="/survey/{{ survey.survey_id }}">{{ survey.music.name }}</a></td>
      <td>{{ survey.music.ensemble }}</td>
    </tr>

  {% endfor %}

</table>
</div>

<script>
function myFunction() {
  // Declare variables 
  var input, filter, table, tr, td, i, select, j;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  select = document.getElementById("searchType").value;
  if (select === "composer")  {
    j = 0;

  } else {
    j = 1;
  };

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[j];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    } 
  }
}
</script>

 <script type="text/javascript">

    function loadCSS(filename){ 

       var file = document.createElement("link");
       file.setAttribute("rel", "stylesheet");
       file.setAttribute("type", "text/css");
       file.setAttribute("href", filename);
       document.head.appendChild(file);

    }


   //just call a function to load your CSS
   //this path should be relative your HTML location
   loadCSS("../static/css/survey_table.css");

</script>

{% endblock %}
